.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner {
  border: 3px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  border-top-color: var(--primary-color);
  animation: spin 1s ease-in-out infinite;
}

.spinner-container.small .spinner {
  width: 20px;
  height: 20px;
}

.spinner-container.medium .spinner {
  width: 30px;
  height: 30px;
}

.spinner-container.large .spinner {
  width: 40px;
  height: 40px;
}

.spinner.primary {
  border-top-color: var(--primary-color);
}

.spinner.secondary {
  border-top-color: var(--secondary-color);
}

.spinner.white {
  border-top-color: var(--white);
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
} 